/* LoginOverlay.css */
  
  .login-box {
    width: 320px;
    margin: auto;
    margin-top: 5rem;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .login-box h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-box input {
    display: block;
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .password-container {
    display: flex;
    margin-bottom: 15px;
  }
  
  .password-container-input {
    width: 90%;
  }
  
  .password-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .password-container button:hover {
    background: #0056b3;
  }
  
  .login-box button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-box button:hover {
    background: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  
  .toggle-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .toggle-link button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    font-size: 14px;
  }
  
  .toggle-link button:hover {
    color: white;
  }
  